/*Primero antes de comenzar un proyecto tenemos que tener en cuenta las partes principales que se tienen que hacer:
1. Posicionamiento --> static, relative,fixed, absolute
2. Modelo de caja (Box Model) --> Margin,Border,Padding,Content
3. Tipografía --> Tipos, tamaños de fuente, etc
4. Estilos Visuales --> box-shadow, border-radius, etc
5. Otros -->reglas CSS y más 

*/
:root {
/*Colores*/
 --bitcoin-orange: #F7931A;
 --soft-orange: #FFE9D4;
 --secondary-blue: #1A9AF7;
 --soft-blue: #E7F5FF;
 --warm-black: #201E1C;
 --warm-black2: #282623;
 --grey: #BABABA;
 --off-white: #FAF8F7;
 --just-white:#FFFFFF;
--grey-dark: #757575;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
/*Primera seccion*/
header{
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
   align-self: center;

}

.header--title-container h1{
font-size: 2.4rem;
font-weight: bold;
line-height: 2.6rem;
color: var(--just-white);
}

.header--title-container p{
    margin-top:24px;
    font-size: 1.4rem;
color: var(--soft-orange);
font-weight: 500;
line-height: 1.8rem;
}
/*Aquí comenzamos hacer nuestro boton flotante Se lo conoce así porque aparentemente no está en ninguna sección, sino en medio de dos*/

.header--title-container .header--button{
position: absolute;
top: 270px;
left:calc(50% - 118px);
display: block;
margin-top: 35px;
background: var(--off-white);
padding: 15px;
width: 229px;
height: 48px;
/*Sombra*/
box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
border: none;
border-radius: 5px;
font-size: 1.4rem;
font-weight: bold;
text-decoration: none;
color: var(--warm-black);
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}

/*Segunda seccion*/
main{
    width: 100%;
    height: auto;
    background: var(--off-white)
    
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--grey-dark);
}

/*tabla*/
/*Estilos para la tabla*/

.main-currency-table{
   width: 70%;
   min-width: 235px;
   max-width: 500px;
   height: 360px;
   margin: 0 auto;
   font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title{
margin-bottom: 15px;
font-size: 1.8rem;
font-weight: bold;
line-height: 2.3rem;
color: var(--bitcoin-orange);
}

.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table{
    width: 100%;
    height: 100%;
}

.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: var(--grey-dark);

}

.currency-table--container .down{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(./assets/icons/trending-down.svg);
    margin-left: 10px;
    background-size: cover;
}
.currency-table--container .up{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(./assets/icons/trending-up.svg);
    margin-left: 10px;
    background-size: cover; 
    background-position: center;
}

.currency-table--date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}


